{%extends 'base.html'%}
{%block slider%}
<section class="slider">


    <div class="slider__inner">

        <div class="slider__item">

            <div class="slider__item-content ">

                <img class="imgsl" src="../static/img/joker.png" alt="">

                <div class="slider__text__content">
                    <div class="slider__title"><a href=#>Joker</a></div>
                    <div class="slider__text">In Gotham City, mentally troubled comedian Arthur Fleck is
                        disregarded
                        and mistreated by society. He then embarks on a downward spiral of revolution and bloody
                        crime. This path brings him face-to-face with his alter-ego: the Joker.</div>
                    <div> <a href=# class="btn-watch -s">See more</a> </div>
                </div>

            </div>
        </div>



        <div class="slider__item">
            <div class="slider__item-content">
                <img class="imgsl" src="../static/img/avatar.png" alt="">
                <div class="slider__text__content">
                    <div class="slider__title"><a href=#>Avatar</a></div>
                    <div class="slider__text">A paraplegic Marine dispatched to the moon Pandora on a unique mission
                        becomes torn between following his orders and protecting the world he feels is his home.
                    </div>
                    <div> <a href=# class="btn-watch -s">See more</a> </div>
                </div>
            </div>
        </div>




        <div class="slider__item">
            <div class="slider__item-content">
                <img class="imgsl" src="../static/img/friends.png" alt="">
                <div class="slider__text__content">
                    <div class="slider__title"><a href=#>Aquaman</a></div>
                    <div class="slider__text">Arthur Curry (Jason Momoa), the human-born heir to the underwater
                        kingdom of Atlantis,
                        goes on a quest to prevent a war between the worlds of ocean and land.</div>
                    <div> <a href=# class="btn-watch -s">See more</a> </div>
                </div>
            </div>
        </div>



    </div>



</section>


{%endblock%}
{%block body%}

{%endblock%}